<%- include('./includes/header') %>
<%- include('./includes/nav') %>

<div class="div container">
	<div class="row">
		<div class="col-lg-2"></div>

		<div class="col-lg-8 my-3">
			<h1 class="text-center">Contato</h1>
			<p class="text-center lead">Crie ou edite seu contato abaixo</p>
			
			<%- include('./includes/messages') %>

			<% if (contato._id) { %>
				<form action="/contato/edit/<%=  contato._id %>" method="POST">
			<% } else { %>
				<form action="/contato/register" method="POST">
			<% } %>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<div class="form-group">
					<label>Nome</label>
					<input type="text" class="form-control" name="nome" value="<%= contato.nome %>">
					<label>Sobrenome</label>
					<input type="text" class="form-control" name="sobrenome" value="<%= contato.sobrenome %>">
					<label>Email</label>
					<input type="email" class="form-control" name="email" value="<%= contato.email %>">
					<label>Telefone</label>
					<input type="text" class="form-control" name="telefone" value="<%= contato.telefone %>">
				<button type="submit" class="btn btn-primary">Salvar</button>
			  </form>
		
		<div class="col-lg-2"></div>
	</div>
</div>


<%- include('./includes/footer') %>
